<!doctype html>
<html lang="pt_BR">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title th:text="${evento.nome}"></title>
</head>
<body>
	<header>
		<th:block th:include="menu"></th:block>

	</header>
	<main> <br />

	<div class="container">
		<div class="row">

			<div class="card">

				<div class="card-content">
					<a> <span th:text="${evento.nome}" class="card-title blue-text"></span>
					</a>

					<div class="row" style="margin: 0px;">
						<div class="col s12 m8">
							<p>
								Local: <span class="red-text" th:text="${evento.local}"></span>
							</p>
						</div>

						<div class="col s6 m2">
							<p>
								Horário: <span class="red-text" th:text="${evento.horario}"></span>
							</p>
						</div>

						<div class="col s6 m2">
							<p>
								Data: <span class="red-text" th:text="${evento.data}"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="card-action">
					<a
						th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.codigo)).build()}"
						class="waves-effect waves-light btn red"> <i
						class="material-icons left">delete</i>excluir
					</a>

				</div>
			</div>

		</div>

		<div class="row">
			<div class="card green darken-1">
				<div class="card-content">
					<span class="card-title white-text">Lista de convidados</span>
				</div>
			</div>

		</div>

		<div th:each="convidado : ${convidados}">

			<div class="row">
				<div class="card">

					<div class="card-content">
						<span th:text="${convidado.nome}" class="card-title blue-text"></span>
						<div class="row" style="margin: 0px;">
							<div class="col s12 m8">
								<p>
									E-mail: <span class="red-text" th:text="${convidado.email}"></span>
								</p>
							</div>
							<div class="col s12 m4">
								<p>
									Telefone: <span class="red-text"
										th:text="${convidado.telefone}"></span>
								</p>
							</div>
						</div>
					</div>
					<div class="card-action">

						<a
							th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.codigo)).build()}"
							class="waves-effect waves-light btn red"> <i
							class="material-icons left">delete</i>excluir
						</a>

					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modalConvidado" class="modal center-align">
		<div class="modal-content" style="padding: 0px;">
			<h5 class="blue-text">Cadastrar Convidado</h5>
			<form method="post" th:action="${evento.codigo}" style="padding: 0px; margin-bottom: 20px;">

				<div class="row">
					<div class="input-field col s12 m12">
						<i class="material-icons prefix">account_circle</i> <input
							id="icon_prefix" type="text" class="validate" name="nome"
							required maxlength="150"> <label for="icon_prefix">Nome</label>
					</div>

				</div>
				<div class="row">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">email</i> <input id="icon_place"
							type="email" class="validate" name="email" required
							maxlength="100"> <label for="icon_place">Email</label>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">phone</i> <input id="icon_phone"
							type="tel" class="validate" name="telefone"
							data-mask="00 00000 0000" pattern="^\d{2} \d{5} \d{4}$"
							data-mask-selectonfocus="true" required maxlength="14"
							title="telefone inválido"> <label for="icon_phone">Telefone</label>
					</div>
				</div>
				<button type="submit" class="waves-effect waves-light btn blue btn-small">
					<i class="material-icons left">save</i>Salvar
				</button>
				<button class="waves-effect waves-light btn red modal-close btn-small">
					<i class="material-icons left">close</i>Cancelar
				</button>
			</form>
		</div>
	</div>

	<div class="fixed-action-btn">
		<a href="#modalConvidado" data-target="modalConvidado"
			class="btn-floating waves-effect waves-light btn-large green darken-1 modal-trigger">
			<i class="material-icons">add</i>
		</a>
	</div>
	</main>

	<script type="text/javascript" src="js/jquery.mask.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.modal').modal();
		});
	</script>
</body>

</html>