<!doctype html>
<html lang="pt_BR">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
	<footer th:fragment="footer" class="page-footer grey lighten-5">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<a th:href="@{/}"><h5 class="grey-text text-darken-4">TodoApp</h5></a>
					<p class="grey-text text-darken-5">Sistema de Cadastro de
						Eventos feito em Java e Spring-Boot.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="grey-text text-darken-4">Links</h5>
					<ul>
						<li><a class="blue-text text-darken-5"
							href="https://github.com/lucasgferreira/ToDoApp">https://github.com/lucasgferreira/ToDoApp</a></li>
					</ul>

				</div>
			</div>
		</div>
		<div class="footer-copyright grey-text text-darken-4">
			<div class="container center-align">
				© 2018 ToDoApp <a class="blue-text text-darken-4"
					href="https://github.com/lucasgferreira">GitHub</a>
			</div>
		</div>
	</footer>

</html>