<!doctype html>
<html lang="pt_BR">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Cadastrar Evento</title>

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<link type="text/css" rel="stylesheet" href="css/style.css" />
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<br>

	<main class="container center-align valign-wrapper">
	<div class="row">

		<div class="col m3"></div>
		<div class="col m6">
			<div class="card">

				<div class="card-content">
					<span class="card-title">Login</span>
					<th:block th:include="mensagemValidacao"></th:block>
					<form method="post" th:action="@{/login}">

						<div class="row">
							<div class="input-field col s12 m12">
								<i class="material-icons prefix">account_circle</i> <input
									id="icon_prefix" type="text" class="validate" name="username"
									required maxlength="100"> <label for="icon_prefix">Usuário</label>
							</div>
							<div class="input-field col s12 m12">
								<i class="material-icons prefix">vpn_key</i> <input
									id="password" type="password" class="validate" name="password"
									required maxlength="8" pattern=".{4,8}" title="digite uma senha com no mínimo 4 dígitos"> <label for="password">Senha</label>
							</div>
						</div>
						<button type="submit" class="waves-effect waves-light btn blue">
							Entrar</button>
						<a th:href="@{/}" class="waves-effect waves-light btn red">Cancelar
						</a> <input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form>
				</div>
				<div class="card-action">
					<a th:href="@{/cadastrarUsuario}" class="blue-text">Cadastrar </a>
				</div>
			</div>
		</div>
		<div class="col m3"></div>
	</div>
	</main>

	<th:block th:include="footer :: footer"></th:block>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

	<script defer
		src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
		integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
		crossorigin="anonymous"></script>
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
		integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
		crossorigin="anonymous"></script>
</body>
</html>